{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Langue {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <section class="admin_body_container">
        <div class="contenaire">
            <h1 class="mb-3">Les langues</h1>
            <div class="un-livre">
                <div class="card mb-3" style="width: 50% ; padding: 8px;">
                    {{ form_start(form) }}

                    <form class="row g-3">
                        <div class="row g-3">
                            <div class="col-sm">
                                {{ form_row(form.code) }}
                            </div>

                            <div class="col-sm">
                                {{ form_row(form.libelle) }}
                            </div>

                            <div class="col-sm">
                                <br>
                                <button class="btn btn-success" type="submit">Modifier</button>
                            </div>
                        </div>
                    </form>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}