{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Langue {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <section class="admin_body_container">
        <div class="contenaire">
            <h1 class="mb-3">Les langues</h1>
            <div class="un-livre">
                <div class="card mb-3" style="width: 50% ; padding: 8px;">
                    {{ form_start(form) }}

                    <form class="row g-3">
                        <div class="row g-3">
                            <div class="col-sm">
                                {{ form_row(form.code) }}
                            </div>

                            <div class="col-sm">
                                {{ form_row(form.libelle) }}
                            </div>

                            <div class="col-sm">
                                <br>
                                <button class="btn btn-success" type="submit">Ajouter</button>
                            </div>
                        </div>
                    </form>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

    <section class="admin_body_container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Langue</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody >
            {% for langue in langues %}
                <tr>
                    <td>{{langue.code}}</td>
                    <td>{{langue.libelle}}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_admin_langue_modifier', {'id' : langue.id}) }}"><i class="fa-solid fa-pen"></i> Modifier</a>
                        <a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')" href="{{ path('app_admin_langue_supprimer', {'id' : langue.id}) }}"><i class="fa-solid fa-trash"></i> Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
