{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="h-100 h-custom" style="background-color: #8fc4b7;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                             class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                             alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Inscription</h3>

                            {{ form_errors(registrationForm, { 'attr' : {'class' : 'px-md-2'}} ) }}

                                {{ form_start(registrationForm, { 'attr' : {'class' : 'mx-1 mx-md-4'}} ) }}

                                <div class="form-outline mb-4">
                                    {{ form_row(registrationForm.pseudo, { 'attr' : {'class' : 'form-control'}}) }}
                                </div>

                                <div class="form-outline mb-4">
                                    {{ form_row(registrationForm.email, { 'attr' : {'class' : 'form-control'}}) }}
                                </div>

                                <div class="form-outline mb-4">
                                    {{ form_row(registrationForm.password, { 'attr' : {'class' : 'form-control'}}) }}
                                </div>

                                <button type="submit" class="btn btn-success btn-lg mb-1">Inscription</button>

                            {{ form_end(registrationForm) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
