{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Genre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <section class="admin_body_container">
        <div class="contenaire">
            <h1 class="mb-3">{{ app.request.get('_route') == "app_admin_genre_ajouter" ? 'Ajouter' : 'Modifier' }} un genre</h1>

            {{ form_start(form) }}

            <form class="row g-3">
                <div class="row mb-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Libelle :</label>
                    <div class="col-sm-10">
                        {{ form(form.libelle) }}
                    </div>
                </div>

                <div class="col-12">
                    {% if app.request.get('_route') == "app_admin_genre_ajouter" %}
                        <button class="btn btn-success" type="submit">Enregistrer</button>
                    {% else %}
                        <button class="btn btn-success" type="submit">Modifier</button>
                    {% endif %}
                </div>
            </form>

            {{ form_end(form) }}

        </div>
    </section>

{% endblock %}