{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Genre {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <section class="admin_body_container">
        <div class="contenaire">
            <h1 class="mb-3">Les genres</h1>

            {{ form_start(form) }}

            <form class="row g-3">

                <div class="row g-3">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Genre :</label>
                    <div class="col-sm">
                        {{ form(form.libelle) }}
                    </div>

                     <div class="col-sm">
                        <button class="btn btn-success" type="submit">Ajouter</button>
                    </div>
                </div>

            </form>

            {{ form_end(form) }}

        </div>
    </section>

    <section class="admin_body_container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody >
        {% for genre in genres %}
            <tr>
                <td>{{genre.libelle}}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_genre_modifier', {'id' : genre.id}) }}">Modifier</a>
                    <a class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?')" href="{{ path('app_admin_genre_supprimer', {'id' : genre.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
{% endblock %}
