{% extends 'base.html.twig' %}

{% block title %}BiblioLivre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

<div class="un-livre">
    {% for livre in livres %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('images/book-logo.jpg') }}" class="img-fluid rounded-start" alt="image">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{livre.titre}}</h5>
                        <p class="card-text">{{livre.cycle}} - {{livre.tome}}</p>
                        <p class="card-text">
                            <small class="text-body-secondary">
                                Auteur : {% for auteur in livre.auteurs %}
                                    {{auteur.prenomnom}}
                                    {% if not loop.last%}
                                        -
                                    {% endif %}
                                {% endfor %}
                                <br>Edition : {{livre.edition.libelle}}
                            </small>
                        </p>
                    </div>
                    
                    <div class="card-body">
                        <a class="btn btn-outline-light" href="https://symfony.com/doc/current/index.html" class="card-link" style="color: #3D3D3D;"><i class="fa-solid fa-circle-plus"></i> Ajouter à la collection</a>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-outline-light" href="{{ path('app_main_voir', {'id' : livre.id}) }}" class="card-link" style="color: #3D3D3D;"><i class="fa-solid fa-magnifying-glass"></i> Détail du livre</a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}



</div>
{% endblock %}
