{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre{% endblock %}

{% block body %}

    <section class="admin_body_container">
        <div class="contenaire">
            <h1 class="mb-4">{{ app.request.get('_route') == "app_admin_auteur_ajouter" ? 'Ajouter' : 'Modifier' }} un auteur</h1>
            
            {{ form_start(form) }}
                <div class="clo-4">
                    {{ form_row(form.nom) }}
                </div>

                <div class="clo-4">
                    {{ form_row(form.prenom) }}
                </div>

                {% if app.request.get('_route') == "app_admin_auteur_ajouter" %}
                    <button class="btn btn-success" type="submit">Enregistrer</button>
                {% else %}
                    <button class="btn btn-success" type="submit">Modifier</button>
                {% endif %}
            
            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}