{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Edition {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <section class="admin_body_container">
        <div class="card mb-3" style="width: 80% ; padding: 8px;">
            <div class="row g-0">
                <h2 class="mb-4">Nouvelle maison d'édition</h1>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <form class="form-floating">
                            <div class="form-floating mb-3">
                                {{ form_widget(form.libelle, {'attr':{'class':'form-control'}}) }}
                                {{ form_label(form.libelle, 'Nom* :', {'attr':{'for':'floatingInput'}}) }}
                                {{ form_errors(form.libelle) }}
                            </div>

                            <div class="col-sm" style="text-align: center">
                                <button class="btn btn-outline-light card-link" style="color: #3D3D3D; border-color: #3D3D3D" type="submit"><i class="ajouter fa-solid fa-circle-plus"></i> Ajouter</button>
                            </div>
                        </form>
                        {{ form_end(form) }}
                    </div>
            </div>
        </div>
    </section>

    <section class="admin_body_container">
        <div class="card mb-3" style="width: 80% ; padding: 8px;">
            <div class="row g-0">
                <h2 class="mb-4">Liste des maisons d'édition</h2>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Libelle</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for edition in editions %}
                                <tr>
                                    <td>{{edition.libelle}}</td>
                                    <td>
                                        <a class="btn btn-outline-light card-link" href="{{ path('app_admin_edition_modifier', {'id' : edition.id}) }}" style="color: #3D3D3D;"><i class="ajouter fa-solid fa-pen"></i> Modifier</a>
                                        <a class="btn btn-outline-light card-link" style="color: #3D3D3D;"
                                           onclick="return confirm('Vous êtes sur le point de supprimer une maison d\'édition. Confirmer la suppression ?')"
                                           href="{{ path('app_admin_edition_supprimer', {'id' : edition.id}) }}">
                                            <i class="delete fa-solid fa-trash"></i> Supprimer</a>
                                        </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

