<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BiblioLivre{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/book.png') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="entete">
                <img class="logo" src="{{ asset('images/book.png') }}"  width=3% height=3% >
                <h1> Bibliolivre</h1>
            </div>

            <nav class="navbar navbar-expand-lg" style="background-color: #3D3D3D" data-bs-theme="dark">
                <div class="container-fluid">

                    <a class="menu navbar-brand" href="{{ path('app_main_liste') }}"><i class="menu fa-solid fa-house-chimney"></i> Accueil</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarText">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ path('app_bibliotheque_liste') }}">Mes bibliothèques</a>
                            </li>
                            {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_main_liste') }}">Administration</a>
                            </li>
                            {% endif %}
                        </ul>

                        {% if app.user is null %}

                            <span class="navbar-text">
                                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                            </span>

                        {% else %}

                            <span class="navbar-text">
                                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion - </a>
                            </span>

                            <span class="navbar-text">
                                <a class="nav-link" href="{{ path('app_profil') }}">- Bonjour {{ app.user.pseudo }}</a>
                            </span>

                        {% endif %}

                    </div>
                </div>
            </nav>
        </header>

        <main>

        {% block body %}{% endblock %}
        
        </main>
        <footer class="footer">

            <div>
                <ul class="pied-page">
                    <li><a href="{{ path('app_main_liste') }}">Accueil</a></li>
                    <li><a href="{{ path('app_main_mentions') }}">Mentions légales</a></li>
                    <li><a href="{{ path('app_main_travaux') }}">Contact</a></li>
                </ul>

                <p class="text-center">Copyright @2023 | Create by Meya</p>
            
            </div>

        </footer>
    </body>
</html>
