{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Livre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    <section class="admin_body_container">
        <div class="contenaire">
            <h1 class="mb-4">{{ app.request.get('_route') == "app_admin_main_ajouter" ? 'Ajouter' : 'Modifier' }} un livre</h1>

            {{ form_start(form) }}

                <form class="row g-3">
                    <div class="col-md-6">
                        <label for="inputcycle" class="form-label">Cycle/Série : </label>
                        {{ form(form.cycle) }}
                    </div>

                    <div class="col-md-6">
                        <label for="inputtome" class="form-label">Tome/N° : </label>
                        {{ form(form.tome) }}
                    </div>
                    <div class="col-md-6">
                        <label for="inputtitre" class="form-label">Titre : </label>
                        {{ form(form.titre) }}
                    </div>

                    <div class="col-md-6">
                        <label for="inputauter" class="form-label">Auteur : </label>
                        <input class="form-control" type="text" placeholder="Ne pas remplir" aria-label="Disabled input example" disabled>
                    </div>

                    <div class="col-md-6">
                        <label for="inputlangue" class="form-label">Langue : </label>
                        {{ form(form.langue) }}
                    </div>
                    <div class="col-md-6">
                        <label for="inputediteur" class="form-label">Editeur : </label>
                        {{ form(form.editeur) }}
                    </div>

                    <div class="col-md-6">
                        <label for="inputgenre" class="form-label">Grenre : </label>
                        <input class="form-control" type="text" placeholder="Ne pas remplir" aria-label="Disabled input example" disabled>
                    <!--
                        <label for="{ { form.genres.vars.id }}">Genres</label>
                        { { form_widget(form.genres, {'attr': {'class': 'form-control'}}) }}
                    -->
                    </div>
                    <div class="col-md-6">
                        <label for="inputisbn" class="form-label">ISBN : </label>
                        {{ form(form.isbn) }}
                    </div>
                    
                    <div class="col-md-6">
                        <label for="inputresume" class="form-label">Résumé :</label>
                        {{ form(form.resume) }}
                    </div>

                    <br>
                    <div class="col-md-6">
                        {% if app.request.get('_route') == "app_admin_main_ajouter" %}
                            <button class="btn btn-success" type="submit">Enregistrer</button>
                        {% else %}
                            <button class="btn btn-success" type="submit">Modifier</button>
                        {% endif %}
                    </div>
                </form

            {{ form_end(form) }}

        </div>
    </section>

{% endblock %}