{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Livre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <section class="admin_body_container">
        
        <a class="btn btn-info" href="{{ path('app_admin_main_ajouter') }}" style="color: #3D3D3D;"><i class="fa-solid fa-circle-plus" style="color: #3D3D3D;"></i> Nouveau Livre</a>
    </section>
    <br>
    <div class="un-livre">
        {% for livre in livres %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('images/LOTR1.jpg') }}" class="img-fluid rounded-start" alt="Le seigneur des anneaux">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{livre.titre}}</h5>
                            <p class="card-text">{{livre.cycle}} - {{livre.tome}}</p>
                            <p class="card-text">
                                <small class="text-body-secondary">
                                    Auteur : {% for auteur in livre.auteurs %}
                                                {{auteur.prenomnom}}
                                                {% if not loop.last%}
                                                    -
                                                {% endif %}
                                            {% endfor %}
                                    <br>Edition : {{livre.edition.libelle}}
                                </small>
                            </p>
                        </div>

                        <div class="card-body">
                            <a class="btn btn-outline-light" href="https://symfony.com/doc/current/index.html" class="card-link" style="color: #3D3D3D;"><i class="fa-solid fa-circle-plus"></i> Ajouter à la collection</a>
                        </div>
                        <div class="card-body">
                            <a class="btn btn-outline-light" href="{{ path('app_admin_main_voir', {'id' : livre.id}) }}" class="card-link" style="color: #3D3D3D;"><i class="fa-solid fa-magnifying-glass"></i> Détail du livre</a>
                            <a class="btn btn-outline-light" href="{{ path('app_admin_main_modifier', {'id' : livre.id}) }}" class="card-link" style="color: #3D3D3D;"><i class="fa-solid fa-pen"></i> Modifier le livre</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
