{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre{% endblock %}

{% block body %}

{% for livre in livres %}
    <div class="un-livre">
        <div class="card" style="width: 18rem;">
            <img src="{{ asset('images/LOTR1.jpg') }}" class="card-img-top" alt="Le seigneur des anneaux">
            <div class="card-body">
                <h5 class="card-title">{{livre.titre}}</h5>
                <p class="card-text">{{livre.cycle}} - {{livre.tome}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Auteur : {{livre.auteur}}</li>
                <li class="list-group-item">Edition : {{livre.langue}}</li>
            </ul>
            <div class="card-body">
                <a class="btn btn-primary" href="#" class="card-link">Ajouter livre</a>
                <a class="btn btn-primary" href="#" class="card-link">Modifier livre</a>
            </div>
        </div>
    </div>
{% endfor %}



</div>
{% endblock %}
