{% extends 'admin/base_admin.html.twig' %}

{% block title %}BiblioLivre - Livre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <section class="admin_body_container">
        <div class="card mb-3" style="width: 80% ; padding: 8px;">
            <div class="row g-0">
                <h2 class="mb-4">Liste des mes livres</h2>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Cycle</th>
                                <th scope="col">Titre</th>
                                <th scope="col">Auteur</th>
                                <th scope="col">Genre</th>
                                <th scope="col">Langue</th>
                                <th scope="col">Edition</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody >
                            {% for livre in livres %}
                                <tr>
                                    <td>{{livre.cycle}}</td>
                                    <td>{{livre.tome}} - {{livre.titre}}</td>
                                    <td>
                                        {% for auteur in livre.auteurs %}
                                            {{auteur.prenomnom}}
                                            {% if not loop.last%}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for genre in livre.genres %}
                                            {{genre.libelle}}
                                            {% if not loop.last%}
                                                -
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{livre.langue.libelle}}</td>
                                    <td>{{livre.edition.libelle}}</td>
                                    <th>
                                        <a class="btn btn-outline-light" href="{{ path('app_admin_main_voir', {'id' : livre.id}) }}" class="detail card-link" style="color: #3D3D3D;"><i class="detail fa-solid fa-magnifying-glass"></i> Détail du livre</a>
                                        <a class="btn btn-outline-light" href="{{ path('app_admin_main_travaux', {'id' : livre.id}) }}" class="delete card-link" style="color: #3D3D3D;"><i class="delete fa-solid fa-trash"></i> Supprimer</a>
                                    </th>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}