{% extends 'base.html.twig' %}

{% block title %}BiblioLivre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}

    <section class="admin_body_container">
        <div class="card mb-3" style="width: 80% ; padding: 8px;">
            <div class="row g-0">
                    <h2 class="mb-4">{{ app.request.get('_route') == "app_bibliotheque_ajouter" ? 'Ajouter' : 'Modifier' }} une bibliothèque</h2>
                    <div class="card-body">
                        {{ form_start(form, {'attr':{'class':'form-floating'}}) }}
                            <div class="form-floating mb-3">
                                {{ form_widget(form.nom, {'attr':{'class':'form-control'}}) }}
                                {{ form_label(form.nom, 'Nom :', {'attr':{'for':'floatingInput'}}) }}
                                {{ form_errors(form.nom) }}
                            </div>

                            <div class="form-check form-check-inline">
                                {{ form_label(form.livres, 'Livre(s)* :') }}
                                <div class="three-column-list">
                                {{ form_widget(form.livres) }}
                                {{ form_errors(form.livres) }}
                                </div>
                            </div>

                            <div class="col-sm" style="text-align: center">
                                <button class="btn btn-outline-light card-link" style="color: #3D3D3D; border-color: #3D3D3D" type="submit"><i class="ajouter fa-solid fa-circle-plus"></i> Enregistrer</button>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </section>>

{% endblock %}