{% extends 'base.html.twig' %}

{% block title %}BiblioLivre - Livre{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <section class="admin_body_container">
        <div class="un-livre">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ asset('images/book-logo.jpg') }}" class="img-fluid rounded-start" alt="Le seigneur des anneaux">
                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{livre.titre}}</h5>
                            <p class="card-text">{{livre.cycle}} - {{livre.tome}}</p>
                            <p class="card-text">
                                <small class="text-body-secondary"><b>Auteur(s) :</b>
                                    {% for auteur in livre.auteurs %}
                                        {{auteur.prenomnom}}
                                        {% if not loop.last%}
                                            -
                                        {% endif %}
                                    {% endfor %}
                                    <b>| Edition :</b> {{livre.edition.libelle}}
                                </small>
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary"><b>Genre(s) :</b>
                                    {% for genre in livre.genres %}
                                        {{genre.libelle}}
                                        {% if not loop.last%}
                                            -
                                        {% endif %}
                                    {% endfor %}
                                </small>
                            </p>
                            <p class="card-text"><small class="text-body-secondary"><b>Langue :</b> {{livre.langue.libelle}}</small></p>
                            <p class="card-text"><small class="text-body-secondary"><b>ISBN :</b> {{livre.isbn}}</small></p>
                            <p class="card-text"><small class="text-body-secondary"><b>Résumé :</b><br> {{livre.resume}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}